$black-color: #000000;
$black-color-2: #3b3b3b;
$white-color: #ffffff;
$grey-color-2: #dcdcdc;
$grey-color-3: #aaaaaa;
$grey-color-4: #919191;
$main-red-color: #d72b2b;

.title {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: $black-color;
	text-align: center;
	margin-bottom: 20px;
}

.subtitle {
	text-align: center;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: $grey-color-4;
}

.emailTitle {
	margin-bottom: 40px;
}

.input {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $black-color;

	label {
		font-family: Montserrat;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: $grey-color-4;
	}

	input {
		background: $grey-color-2;
		border-radius: 30px;
		border: none;
		padding: 10px;
	}

	:focus {
		background: $white-color;
		border: 1px solid $grey-color-3;
	}
}

.activeInput {
	input {
		background: $white-color;
		border: 1px solid $grey-color-3;
	}

	input[type='password'] {
		font-size: 30px;
	}
}

.email {
	margin-bottom: 40px;
}

.button {
	width: 100%;
	border-radius: 20px;
	border: none;
	background: $grey-color-3;
	padding: 8px 0;
	cursor: pointer;
	margin-bottom: 20px;
}

.activeButton {
	background: $main-red-color;
}

.resendCode {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: $grey-color-4;
	cursor: pointer;
	text-align: center;
}
