$main-red-color: #d72b2b;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #919191;
$grey-color-2: #dcdcdc;

$tran-04: all 0.4s ease;

.header {
	margin-bottom: 80px;
}

.container {
	width: 1680px;
	margin: 0 auto;
}

.headerTop {
	background: $main-red-color;
}

.headerTopInner {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
}

.headerTopRight {
	display: flex;
	align-items: center;
	gap: 60px;
}

.inputWrapper {
	position: relative;
}

.input {
	width: 450px;
	font-family: Montserrat;
	color: $black-color;
}

.foundedMovies {
	position: absolute;
	top: 50px;
	padding: 14px;
	width: 450px;
	max-height: 356px;
	height: 356px;
	background: $white-color;
	border-radius: 10px 10px 30px 30px;
	border: 1px solid $grey-color-2;
	box-shadow: 2px 2px 8px 0px #91919140;
	display: flex;
	flex-direction: column;
	gap: 14px;
	overflow-y: auto;
	z-index: 1;
}

.loaderWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.foundedMovies::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge и Firefox */
.foundedMovies {
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}

.movie {
	text-decoration: none;
	display: flex;
	align-items: start;
	gap: 10px;
	cursor: pointer;
	transition: $tran-04;

	&:hover {
		opacity: 0.8;
	}
}

.movieImg {
	width: 80px;
	height: 100px;
}

.title {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: $black-color;
}

.country {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: $black-color;
}

.notFoundWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notFound {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: $grey-color;
	text-align: center;
	margin: auto 0;
}

.link {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	color: $white-color;
	cursor: pointer;
}

.headerBottom {
	box-shadow: 0px 2px 6px 0px rgba(145, 145, 145, 0.25);
}

.headerBottomInner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}

.navbar {
	width: 1100px;
}

.list {
	list-style: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.active {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: $main-red-color;
	text-decoration: none;
}

.navLink {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: $black-color;
	text-decoration: none;
}

.verticalLine {
	width: 4px;
	height: 24px;
	border-radius: 30px;
	background: $grey-color;
}

.favorite {
	display: flex;
	align-items: center;
	gap: 4px;
	text-decoration: none;
	color: $black-color;
}

.favoriteIcon {
	width: 24px;
	height: 24px;
}

.favoriteText {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}
