.container {
	width: 1680px;
	margin: 0 auto;
}

.filterContentInner {
	display: grid;
	grid-template-columns: 1fr 506px;
	gap: 90px;
}

.category {
	margin-bottom: 80px;
}

.paginationBar {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 30px;
}
