$main-red-color: #d72b2b;

.title {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	color: $main-red-color;
	margin-bottom: 40px;
}

.categorySelection {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px 68px;
}
