$main-red-color: #d72b2b;
$black-color: #000000;
$grey-color-3: #dcdcdc;
$grey-color-4: #919191;

.categorySelectionsSection {
	height: 100%;
}

.title {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	color: $main-red-color;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	gap: 4px;
}

.savedIcon {
	width: 36px;
	height: 36px;
}

.filterTitle {
	color: $black-color;
	margin-bottom: 20px;
}

.genreGroup {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 40px;
}

.paramButton {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 10px;
	border-radius: 30px;
	border: 1px solid $grey-color-3;
}

.paramText {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: $black-color;
}

.cross {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.categorySelection {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px 68px;
}

.categorySavedSelection {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 40px 68px;
}
