$main-red-color: #d72b2b;
$white-color: #ffffff;

.footer {
	background: $main-red-color;
	padding: 50px 0;
	margin-top: 80px;
}

.additionalFooterStyles {
	margin-top: auto;
}

.container {
	width: 1680px;
	margin: 0 auto;
}

.footerInner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1397px;
}

.year {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $white-color;
	margin-top: 15px;
}

.navbar {
	width: 843px;
}

.list {
	list-style: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: $white-color;
	text-decoration: none;
}
